/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
    text-align: center;
}

header {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 15% 100px;
}


/* Navbar */

nav {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 25px;
}

#header-logo {
    margin-right: auto;
}

#header-links {
    margin-left: auto;
}

a,
a:visited {
    color: white;
    text-decoration: none;
    padding: 10px;
}


/* hero */

#hero {
    display: flex;
}

#caption {
    flex: 1 1 50%;
    margin-right: 50px;
    text-align: left;
}

#caption p {
    margin-bottom: 15px;
}

#img-placeholder {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
}

#img-placeholder p {
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 5px;
    font-weight: 800;
}


/* Information */

section {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: white;
    color: black;
    padding: 0 0 100px 0;
}

#information {
    display: flex;
    padding-right: auto;
    flex: auto;
    margin: auto;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    padding: auto;
    margin: 50px;
    color: #1F2937;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    margin: 0 20px;
}

.box div {
    align-self: center;
    border: 2px solid #3882F6;
    width: 150px;
    flex: 1 1 150px;
    border-radius: 10px;
}

.box p {
    font-size: 15px;
    flex: auto;
    max-width: 150px;
}


/* Quote */

blockquote {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    color: #1F2937;
    padding: 75px 300px;
    font-style: italic;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
}

cite {
    margin-top: 20px;
    text-align: right;
    font-style: normal;
}


/* Signup */

#signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    text-align: left;
    background-color: #3882F6;
    color: white;
    margin: 100px 200px;
    border-radius: 5px;
}

.signup-button {
    width: 100px;
    height: 25px;
    align-self: center;
    background-color: #3882F6;
    color: white;
    border: solid white;
    border-radius: 5px;
}

#signup p {
    font-size: 0.8rem;
    font-weight: 200;
}

blockquote+section {
    padding: 0;
}


/* Footer */

footer p {
    padding: 25px;
    font-weight: 300;
    font-size: 0.8rem;
    max-height: 50px;
}