@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
}

header {
    background-color: #1F2937;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

#header-logo {
    margin-right: auto;
}

#header-links {
    margin-left: auto;
}

a,
a:visited {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a,
#caption p {
    font-size: 18px;
    color: #E5E7EB;
}

#caption p {
    margin-bottom: 15px;
}

#img-placeholder p {
    font-size: 24px;
    color: #F9FAF8;
}

#caption {
    flex: 1 1 50%;
}

#hero {
    display: flex;
    padding: 50px 200px;
}

#img-placeholder {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
}

h1 {
    font-size: 48px;
    margin-bottom: 5px;
    font-weight: 800;
}

section {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: white;
    color: black;
}

section h3 {
    margin: 30px 0;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
}

div.box {
    flex: 1 1 auto;
}

#subcontainer {
    display: flex;
    padding: 0 250px 75px;
}

.box div {
    align-self: center;
    border: 2px solid #3882F6;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 20px 20px 5px;
}

div.box p {
    font-size: 15px;
}

div.box {
    margin: 10px;
}

blockquote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 75px 300px;
    font-style: italic;
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
}

blockquote p {
    margin-top: 20px;
    text-align: right;
    font-style: normal;
}

#signup {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    text-align: left;
    background-color: #3882F6;
    color: white;
    margin: 100px 200px;
    border-radius: 20px;
}

.signup-button {
    width: 100px;
    height: 25px;
    align-self: center;
    background-color: #3882F6;
    color: white;
    border: solid white;
    border-radius: 5px;
}

#signup p {
    font-size: 0.8rem;
    font-weight: 200;
}

footer {
    padding: 30px 0;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}